@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic,cyrillic-ext,latin-ext');
@import url('../css/ui-kit.css');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 13px;
}

body {
  margin: 0;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  text-decoration: none !important;
}

/*****color scheme***/
$light-blue-color: #57b5de;
$blue-color: #008ccc;
$dark-blue-color: #167491;
$orange-color: #ff7415;
$dark-orange-color: #da7d3c;
$green-color: #007366;
$gray-color: #7b7b7b;
$dark-gray-color: #505050;
$brown-color: #faecd1;
$light-brown-color: #fef8dd;
$white-color: white;
$background-gray-color: #f0f0f0;
$border-color: #e3e3e3;

.gradient {
  background: linear-gradient(135deg, #008ccc 35%,#47afb4 90%);
}

.shadow {
  -webkit-box-shadow: 0 5px 15px 0 rgba(180, 180, 180, 0.25);
  -moz-box-shadow: 0 5px 15px 0 rgba(180, 180, 180, 0.25);
  box-shadow: 0 5px 15px 0 rgba(180, 180, 180, 0.25);
}

header {
  overflow: hidden;
  position: relative;
  z-index: 1;
  @extend .shadow;
  .logo {
    float: left;
    width: 16.65%;
    display: flex;
    height: 67px;
    align-items: center;
    img {
      margin: 0 20px;
    }
    h1 {
      display: inline-block;
      font-size: 26px;
      font-weight: 400;
    }
  }
  .main-nav {
    width: 66.66%;
    float: left;
    ul {
      float: right;
      padding-right: 50px;
      li {
        display: inline-block;
        a {
          color: $gray-color;
          text-decoration: none;
          padding: 25px 15px;
          font-size: 14px;
          font-weight: 300;
          display: block;
        }
      }
      .active a {
        background-color: $light-blue-color;
        color: $white-color;
      }
    }
  }
  .authentication-user {
    height: 67px;
    float: left;
    width: 16.65%;
    display: flex;
    align-items: center;
    .avatar-user {
      border-radius: 50%;
      margin-right: 20px;
      float: left;
    }
    .user-name {
      font-size: 13px;
    }
    .user-link {
      font-size: 12px;
      color: $blue-color;
      margin-right: 10px;
    }
  }
}





aside {
  @extend .gradient;
  width: 16.67%;
  color: $white-color;
  float: left;
  .header-aside-section {
    font-weight: 300;
  }
  .header-aside {
    padding: 30px 0 30px 30px;
    border-bottom: solid 1px rgba(89,181,208,.25);
    span {
      font-weight: 400;
      display: inline-block;
      color: $white-color;
    }
    .icon {
      margin-right: 10px;
    }
  }
  .section-aside {
    padding: 20px 0 20px 20px;
    border-bottom: solid 1px rgba(89,181,208,.25);
    .header-aside-section {
      color: $background-gray-color;
      margin-bottom: 20px;
    }
    ul {
      text-align: right;
    }
    .item-list.active {
      background-color: rgba(1,1,1,.25);
      a:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 7px 0;
        border-color: transparent $background-gray-color transparent transparent;
      }
    }
    .item-list {
      &:hover {
        background-color: rgba(1,1,1,.15);
      }
      margin-bottom: 10px;
      border-radius: 3px 0 0 3px;
      a {
        display: block;
        color: $white-color;
        padding: 10px 15px 10px 10px;
        position: relative;
        .icon {
          margin-right: 15px;
        }
        .new {
          margin: -10px 10px 0 10px;
          font-size: 20px;
        }
        .text-item, .icon, .new {
          float: left;
        }
        .number-message {
          font-weight: 300;
        }
      }
    }
  }
  .collapse-menu-btn {
    padding: 30px 0 30px 30px;
    a {
      color: $white-color;
    }
    .business-dash-ico {
      margin-right: 10px;
    }
  }

}

.dashboard {
  background-color: $background-gray-color;
  width: 83.33%;
  float: left;
  padding: 40px;
  .header-dashboard {
    padding-bottom: 20px;
    color: $gray-color;
    border-bottom: solid 1px $border-color;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 20px;
    }
    .text {
      font-size: 17px;
    }
  }

  .list-messages {
    margin-top: 20px;
    .row-table-dashboard.open {
      margin-bottom: 0;
    }
    .row-table-dashboard {
      z-index: 1;
      @extend .shadow;
      border-radius: 5px;
      background-color: $white-color;
      display: flex;
      margin-bottom: 10px;
      .block1, .block2, .block3, .block4, .block5 {
        padding: 15px;
        border-right: solid 1px $border-color;
      }
      .block2, .block3, .block4, .block5 {
        display: flex;
        align-items: center;
      }
      .light-blue {
        background-color: $blue-color;
      }
      .block1 {
        border-radius: 5px 0 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.6%;
      }
      .block2 {
        width: 19.6%;
        justify-content: space-between;
        font-weight: 300;
        color: $gray-color;
        .warning-time {
          color: $orange-color;
        }
      }
      .block3 {
        width: 22.3%;
        color: $gray-color;
      }
      .tag-list {
        flex-direction: column;
        align-items: flex-start;
        .tag {
          margin-top: 5px;
          li {
            display: inline-block;
            margin-right: 10px;
            background-color: $brown-color;
            padding: 2px 4px;
            font-size: 11px;
            color: $gray-color;
            position: relative;
            &:after {
              content: "";
              right: -7px;
              top: 0;
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 8.5px 0 8.5px 7px;
              border-color: transparent transparent transparent $brown-color;
            }
          }
        }
      }
      .block4 {
        width: 35.7%;
        .old-post {
          color: $gray-color;
        }
        .new-post {
          color: $dark-gray-color;
          font-weight: 500;
          font-size: 14px;
        }
      }
      .block5 {
        width: 17.8%;
        border: none;
        //justify-content: center;
        .btn-group {
          display: flex;
          justify-content: space-around;
          width: 100%;
          .btn {
            border-top: solid 1px $border-color;
            border-bottom: solid 1px $border-color;
            border-left: solid 1px $border-color;
            padding: 6px 10px;
            color: $gray-color;
            font-weight: 300;
            text-align: center;
            .icon {
              margin-right: 3px;
            }
          }
          .btn:first-child {
            border-radius: 3px 0 0 3px;
            width: 50%;
            &:hover {
              color: $white-color;
              background-color: $blue-color;
              border-color: $blue-color;
              .icon {
                background: url("../img/icon-check-white.png");
              }
            }
          }
          .btn:last-child {
            border-radius: 0 3px 3px 0;
            border-right: solid 1px $border-color;
            width: 50%;
            &:hover {
              color: $white-color;
              background-color: $orange-color;
              border-color: $orange-color;
              .icon {
                background: url("../img/icon-reject-white.png");
              }
            }
          }
        }
      }

    }
    .header-dashboard-table {
      font-weight: 300;
      color: $gray-color;
      display: flex;
      margin-bottom: 10px;

      .header-block1 {

        margin-left: 4.6%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 19.6%;
      }
      .header-block2 {
        width: 22.3%;
        padding: 15px;
        display: flex;
        align-items: center;
      }
      .header-block3 {
        width: 35.7%;
        padding: 15px;
        display: flex;
        align-items: center;
      }
      .header-block4 {
        width: 17.8%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

      }
    }
  }
}

.dropdown {
  position: relative;
  background: $white-color;
  padding: 5px 10px;
  &:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    position: absolute;
    display: none;
    padding: 25px;
    width: 250px;
    top: 25px;
    left: -80%;
    background: $white-color;
    @extend .shadow;
    .item-dropdown:last-child {
      margin-bottom: 0;
    }
    .item-dropdown {
      margin-bottom: 20px;
      .label {
        margin-bottom: 10px;
      }
      a {
        color: $gray-color;
        background-color: $background-gray-color;
        padding: 5px 10px;
        display: block;
        margin-bottom: 10px;
        border-radius: 3px;
      }
    }
  }
}

.open-message {
  display: flex;
  background-color: $white-color;
  @extend .shadow;
  padding-top: 20px;
  .b1 {
    width: 25%;
    padding: 15px 15px 15px 40px;
    .email-client {
      font-size: 17px;
      font-weight: 500;
    }
    .text-notification {
      padding: 20px 0;
      color: $gray-color;
    }
    form {
      input {
        border: none;
        border: solid 1px $border-color;
        border-radius: 3px;
        padding: 5px 10px;
        margin-bottom: 5px;
        width: 100%;
        font-size: 14px;
        }
      input::-webkit-input-placeholder {
        font-size: 14px;
        font-weight: 300;
        color: $gray-color;
      }
      input::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
      input:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
      input:-ms-input-placeholder      {color:#c0392b;}
    }

  }
  .b2 {
    width: 23.2%;
    border-right: dashed 1px $border-color;
    border-left: dashed 1px $border-color;
    padding: 15px;

  }
  .b3 {
    width: 51.7%;
    padding: 15px;
  }
}




