.check-blue-ico {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: url("../img/icon-check-blue.png") no-repeat 50% 50%;
  vertical-align: middle;
  margin-top: -2px;
}


.incoming-quote-request {
  width: 30px;
  height: 28px;
  display: inline-block;
  background: url("../img/icon-incoming-quote-request-blue.png") no-repeat 50% 50%;
}

.business-dash-ico {
  width: 16px;
  height: 17px;
  display: inline-block;
  background: url("../img/icon-business-dash- white.png") no-repeat 50% 50%;
}

.business-dash-ico {
  width: 16px;
  height: 17px;
  display: inline-block;
  background: url("../img/icon-business-dash- white.png") no-repeat 50% 50%;
}

.reject-gray-ico {
  width: 14px;
  height: 13px;
  display: inline-block;
  background: url("../img/icon-reject-gray.png") no-repeat 50% 50%;
  vertical-align: middle;
  margin-top: -2px;
}

.customer-single-ico {
  width: 14px;
  height: 16px;
  display: inline-block;
  background: url("../img/icon-man2-gray.png") no-repeat 50% 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.customer-group-ico {
  width: 14px;
  height: 16px;
  display: inline-block;
  background: url("../img/icon-man1-gray.png") no-repeat 50% 50%;
  vertical-align: middle;
  margin-right: 5px;
}

.star-ico {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("../img/icon-star-white.png") no-repeat 50% 50%;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 3px;
}

.star-ico-gray {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url("../img/icon-star-grey-transparent.png") no-repeat 50% 50%;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 3px;
}

.light-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
}