.check-blue-ico {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: url("../img/icon-check-blue.png") no-repeat 50% 50%;
  vertical-align: middle;
  margin-top: -2px;
}


.incoming-quote-request {
  width: 30px;
  height: 28px;
  display: inline-block;
  background: url("../img/icon-incoming-quote-request-blue.png") no-repeat 50% 50%;
}

.business-dash-ico {
  width: 16px;
  height: 17px;
  display: inline-block;
  background: url("../img/icon-business-dash- white.png") no-repeat 50% 50%;
}

.business-dash-ico {
  width: 16px;
  height: 17px;
  display: inline-block;
  background: url("../img/icon-business-dash- white.png") no-repeat 50% 50%;
}

.reject-gray-ico {
  width: 14px;
  height: 13px;
  display: inline-block;
  background: url("../img/icon-reject-gray.png") no-repeat 50% 50%;
  vertical-align: middle;
  margin-top: -2px;
}